# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective**:
* List popular languages for Data Science
* List commonly used libraries for Data Science
* Table for listing Tools used in Data Science 
* Evaluating some arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python 
2. R 
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-Learn
5. Pytorch
6. Tensorflow

| Data Science Tools |
|--------- |
| JupyterLab |
| RStudio|
| IBM Watson Studio|

### Below are a few examples of evaluating arithmetic expressions in Python:
* Addition: 1 + 3
* Subtration: 4 - 2
* Multiplication: 4 * 5

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Nikhil Katoch